/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/



.skills:hover {
	cursor: default;
	background: white;
	color: #110144;
  }
  
  .skills {
	margin-right: 10px;
	margin-bottom: 10px;
  }
  
  .cvBtn {
	background: #f5df4e;
	color: #110144;
	margin-top: 15px;
  }
  
  .cvBtn:hover {
	background: #110144;
	color: #f5df4e;
  }
  
  .cvBtn:focus {
	color: white;
  }

