#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1367px 1384px #fff, 174px 1252px #fff, 1462px 516px #fff,
    381px 160px #fff, 1785px 1307px #fff, 485px 1938px #fff, 322px 45px #fff,
    420px 1282px #fff, 713px 244px #fff, 1333px 1047px #fff, 128px 842px #fff,
    779px 1834px #fff, 1849px 1784px #fff, 1191px 547px #fff, 1119px 1975px #fff,
    1996px 688px #fff, 674px 696px #fff, 1992px 1219px #fff, 249px 493px #fff,
    766px 1799px #fff, 124px 674px #fff, 1714px 143px #fff, 380px 1516px #fff,
    595px 713px #fff, 1669px 1764px #fff, 192px 1028px #fff, 1039px 191px #fff,
    1737px 1800px #fff, 1465px 240px #fff, 1243px 758px #fff, 1713px 392px #fff,
    608px 1558px #fff, 1227px 1347px #fff, 667px 159px #fff, 603px 1092px #fff,
    1193px 1369px #fff, 1147px 1650px #fff, 190px 441px #fff, 1754px 1683px #fff,
    1754px 1538px #fff, 1951px 1615px #fff, 1353px 1708px #fff, 421px 276px #fff,
    642px 161px #fff, 1544px 1204px #fff, 878px 380px #fff, 821px 490px #fff,
    289px 1824px #fff, 1639px 503px #fff, 319px 1141px #fff, 689px 460px #fff,
    286px 217px #fff, 261px 1726px #fff, 152px 683px #fff, 1011px 99px #fff,
    1370px 135px #fff, 1295px 587px #fff, 1482px 196px #fff, 1447px 21px #fff,
    1951px 447px #fff, 589px 1683px #fff, 1649px 409px #fff, 839px 805px #fff,
    1572px 125px #fff, 1464px 1900px #fff, 1700px 312px #fff, 1547px 605px #fff,
    1185px 1435px #fff, 300px 1929px #fff, 1835px 223px #fff, 427px 613px #fff,
    273px 1866px #fff, 257px 127px #fff, 1535px 1178px #fff, 190px 454px #fff,
    1390px 550px #fff, 1270px 1884px #fff, 1211px 1248px #fff, 839px 1583px #fff,
    556px 957px #fff, 145px 1079px #fff, 1194px 650px #fff, 1418px 529px #fff,
    1991px 1185px #fff, 1988px 1552px #fff, 63px 1301px #fff, 1617px 1063px #fff,
    92px 1256px #fff, 1814px 326px #fff, 1680px 669px #fff, 1831px 1798px #fff,
    862px 320px #fff, 1053px 1525px #fff, 13px 925px #fff, 365px 1955px #fff,
    1492px 1779px #fff, 282px 1068px #fff, 772px 1804px #fff, 1575px 1536px #fff,
    1905px 1018px #fff, 877px 948px #fff, 1257px 245px #fff, 800px 719px #fff,
    1649px 1535px #fff, 1245px 1395px #fff, 1447px 95px #fff, 811px 83px #fff,
    1078px 771px #fff, 118px 1408px #fff, 739px 1676px #fff, 918px 1893px #fff,
    646px 1492px #fff, 1940px 1210px #fff, 113px 786px #fff, 930px 184px #fff,
    1109px 326px #fff, 333px 1381px #fff, 1533px 871px #fff, 950px 697px #fff,
    1568px 481px #fff, 211px 741px #fff, 1842px 1435px #fff, 1502px 392px #fff,
    386px 876px #fff, 1376px 129px #fff, 1950px 1972px #fff, 435px 517px #fff,
    795px 297px #fff, 1269px 1167px #fff, 1901px 944px #fff, 21px 462px #fff,
    1746px 989px #fff, 262px 1093px #fff, 6px 1553px #fff, 1348px 145px #fff,
    1644px 1741px #fff, 231px 341px #fff, 1803px 1912px #fff, 58px 580px #fff,
    170px 872px #fff, 1730px 489px #fff, 1269px 723px #fff, 825px 821px #fff,
    733px 1168px #fff, 1193px 1333px #fff, 1570px 109px #fff, 771px 734px #fff,
    777px 1656px #fff, 1820px 763px #fff, 1136px 257px #fff, 754px 418px #fff,
    1251px 394px #fff, 226px 1420px #fff, 18px 704px #fff, 800px 392px #fff,
    1125px 1725px #fff, 1902px 1587px #fff, 1650px 782px #fff, 1490px 219px #fff,
    535px 1896px #fff, 1866px 639px #fff, 1237px 611px #fff, 555px 1044px #fff,
    1820px 733px #fff, 710px 1508px #fff, 1393px 1049px #fff, 298px 1733px #fff,
    1048px 1122px #fff, 264px 689px #fff, 1235px 1109px #fff, 1671px 1487px #fff,
    1962px 1364px #fff, 1195px 1342px #fff, 461px 1486px #fff, 130px 1221px #fff,
    168px 925px #fff, 1117px 1492px #fff, 1320px 1513px #fff, 1543px 1635px #fff,
    757px 1711px #fff, 286px 139px #fff, 839px 972px #fff, 1583px 1609px #fff,
    1002px 287px #fff, 1059px 1303px #fff, 729px 1110px #fff, 1375px 316px #fff,
    605px 1706px #fff, 377px 1590px #fff, 1086px 13px #fff, 1811px 1706px #fff,
    1152px 197px #fff, 1748px 1339px #fff, 1431px 1669px #fff,
    1923px 1575px #fff, 814px 1416px #fff, 623px 1313px #fff, 675px 901px #fff,
    1360px 717px #fff, 748px 1497px #fff, 125px 555px #fff, 1528px 657px #fff,
    1217px 636px #fff, 790px 432px #fff, 728px 595px #fff, 955px 548px #fff,
    120px 623px #fff, 1923px 1033px #fff, 218px 1079px #fff, 1828px 703px #fff,
    1037px 1901px #fff, 1203px 342px #fff, 846px 1376px #fff, 927px 1082px #fff,
    95px 222px #fff, 1328px 865px #fff, 1125px 156px #fff, 1431px 739px #fff,
    51px 1256px #fff, 621px 415px #fff, 1086px 160px #fff, 1931px 892px #fff,
    476px 576px #fff, 187px 110px #fff, 897px 1822px #fff, 344px 736px #fff,
    516px 1478px #fff, 1613px 1798px #fff, 1393px 1674px #fff, 160px 11px #fff,
    1996px 469px #fff, 1033px 905px #fff, 926px 1067px #fff, 569px 1167px #fff,
    1102px 274px #fff, 1873px 1105px #fff, 1815px 93px #fff, 1804px 1299px #fff,
    1711px 867px #fff, 341px 1895px #fff, 1200px 1189px #fff, 1710px 440px #fff,
    121px 1308px #fff, 989px 1329px #fff, 823px 1829px #fff, 546px 1325px #fff,
    628px 366px #fff, 42px 710px #fff, 63px 1894px #fff, 832px 1809px #fff,
    522px 1194px #fff, 782px 515px #fff, 321px 935px #fff, 1908px 199px #fff,
    531px 473px #fff, 922px 1358px #fff, 1653px 228px #fff, 1282px 1204px #fff,
    85px 129px #fff, 1878px 1824px #fff, 33px 1151px #fff, 1371px 1233px #fff,
    311px 1800px #fff, 1572px 224px #fff, 1156px 885px #fff, 350px 950px #fff,
    1130px 1962px #fff, 266px 1766px #fff, 774px 1556px #fff, 1565px 1852px #fff,
    1547px 1246px #fff, 792px 564px #fff, 1962px 646px #fff, 1833px 397px #fff,
    290px 498px #fff, 272px 1231px #fff, 1136px 1547px #fff, 660px 1497px #fff,
    607px 1713px #fff, 1602px 22px #fff, 1396px 1762px #fff, 896px 789px #fff,
    1466px 661px #fff, 1056px 1752px #fff, 1292px 358px #fff, 361px 1389px #fff,
    418px 1752px #fff, 607px 100px #fff, 269px 1427px #fff, 1083px 1777px #fff,
    1458px 1009px #fff, 1581px 1353px #fff, 999px 734px #fff, 27px 1319px #fff,
    475px 492px #fff, 21px 583px #fff, 976px 1574px #fff, 239px 1796px #fff,
    935px 37px #fff, 651px 892px #fff, 1282px 1558px #fff, 1167px 861px #fff,
    760px 961px #fff, 200px 1024px #fff, 787px 592px #fff, 304px 940px #fff,
    125px 1284px #fff, 188px 1867px #fff, 1121px 1810px #fff, 675px 410px #fff,
    1314px 1177px #fff, 1191px 826px #fff, 1239px 1711px #fff, 448px 906px #fff,
    1991px 716px #fff, 724px 793px #fff, 809px 43px #fff, 1910px 1026px #fff,
    1137px 1928px #fff, 1469px 584px #fff, 697px 954px #fff, 756px 1758px #fff,
    1150px 293px #fff, 1531px 491px #fff, 1033px 1388px #fff, 1181px 1926px #fff,
    437px 296px #fff, 897px 1906px #fff, 1003px 350px #fff, 1439px 338px #fff,
    160px 1475px #fff, 1314px 560px #fff, 356px 1935px #fff, 423px 1190px #fff,
    1162px 1822px #fff, 1901px 1583px #fff, 1190px 254px #fff, 617px 1679px #fff,
    1159px 1944px #fff, 1273px 896px #fff, 584px 574px #fff, 1419px 1207px #fff,
    1364px 152px #fff, 1896px 1223px #fff, 969px 467px #fff, 1554px 1920px #fff,
    204px 1361px #fff, 996px 1662px #fff, 1998px 1406px #fff, 638px 737px #fff,
    182px 437px #fff, 722px 1969px #fff, 414px 1918px #fff, 1397px 1968px #fff,
    1092px 989px #fff, 1274px 1484px #fff, 504px 1716px #fff, 494px 1247px #fff,
    1235px 748px #fff, 151px 388px #fff, 1496px 138px #fff, 1545px 1554px #fff,
    1217px 389px #fff, 1946px 1589px #fff, 1746px 657px #fff, 700px 1065px #fff,
    986px 1263px #fff, 918px 901px #fff, 1080px 1214px #fff, 1907px 7px #fff,
    1814px 747px #fff, 146px 1221px #fff, 991px 1500px #fff, 412px 250px #fff,
    591px 1912px #fff, 714px 1207px #fff, 1334px 419px #fff, 40px 151px #fff,
    484px 1459px #fff, 1311px 1191px #fff, 211px 1478px #fff, 904px 696px #fff,
    392px 282px #fff, 1576px 1817px #fff, 387px 193px #fff, 1860px 1099px #fff,
    1716px 1129px #fff, 184px 1249px #fff, 81px 1794px #fff, 1397px 545px #fff,
    51px 1076px #fff, 1752px 1973px #fff, 1483px 675px #fff, 74px 1269px #fff,
    1415px 1784px #fff, 1520px 1074px #fff, 1875px 248px #fff, 1377px 330px #fff,
    910px 1228px #fff, 471px 566px #fff, 754px 1694px #fff, 1034px 1737px #fff,
    434px 1324px #fff, 1936px 575px #fff, 936px 1889px #fff, 1554px 263px #fff,
    980px 855px #fff, 1940px 1748px #fff, 444px 175px #fff, 1607px 1416px #fff,
    1860px 1687px #fff, 1809px 744px #fff, 1506px 111px #fff, 682px 930px #fff,
    1741px 1337px #fff, 635px 1464px #fff, 1223px 1410px #fff, 633px 1440px #fff,
    161px 757px #fff, 63px 1498px #fff, 810px 460px #fff, 1073px 1160px #fff,
    910px 99px #fff, 934px 1956px #fff, 605px 1841px #fff, 1457px 395px #fff,
    652px 1654px #fff, 1443px 1374px #fff, 1730px 1590px #fff, 609px 76px #fff,
    1743px 1408px #fff, 1935px 1509px #fff, 761px 431px #fff, 1568px 39px #fff,
    677px 1449px #fff, 840px 1701px #fff, 1932px 293px #fff, 1763px 1664px #fff,
    838px 773px #fff, 1830px 717px #fff, 1322px 1242px #fff, 201px 1182px #fff,
    1079px 1628px #fff, 1922px 907px #fff, 544px 995px #fff, 452px 796px #fff,
    487px 862px #fff, 81px 67px #fff, 832px 654px #fff, 968px 165px #fff,
    766px 1324px #fff, 839px 205px #fff, 1668px 446px #fff, 620px 411px #fff,
    1850px 327px #fff, 94px 1660px #fff, 307px 1991px #fff, 1435px 117px #fff,
    551px 1170px #fff, 756px 934px #fff, 658px 664px #fff, 1658px 580px #fff,
    933px 596px #fff, 2000px 1102px #fff, 616px 533px #fff, 445px 297px #fff,
    859px 874px #fff, 308px 601px #fff, 52px 675px #fff, 7px 1279px #fff,
    1653px 1141px #fff, 879px 1335px #fff, 458px 1304px #fff, 909px 109px #fff,
    1328px 1902px #fff, 923px 179px #fff, 1459px 84px #fff, 1125px 844px #fff,
    1835px 275px #fff, 1846px 1801px #fff, 1807px 598px #fff, 13px 1424px #fff,
    383px 404px #fff, 596px 1204px #fff, 1078px 328px #fff, 1286px 1285px #fff,
    1405px 941px #fff, 1430px 670px #fff, 1602px 74px #fff, 1733px 407px #fff,
    1390px 1797px #fff, 672px 437px #fff, 418px 167px #fff, 462px 1705px #fff,
    772px 855px #fff, 770px 574px #fff, 1541px 537px #fff, 273px 767px #fff,
    1744px 1431px #fff, 372px 2000px #fff, 1397px 169px #fff, 1542px 185px #fff,
    663px 956px #fff, 1909px 285px #fff, 184px 1963px #fff, 1489px 846px #fff,
    1464px 1716px #fff, 1217px 279px #fff, 1272px 1759px #fff, 817px 915px #fff,
    1899px 227px #fff, 1941px 1084px #fff, 1077px 1239px #fff,
    1102px 1979px #fff, 422px 1373px #fff, 520px 1671px #fff, 398px 698px #fff,
    1626px 1746px #fff, 223px 184px #fff, 774px 150px #fff, 944px 649px #fff,
    1666px 1332px #fff, 1842px 1855px #fff, 374px 1254px #fff,
    1870px 1244px #fff, 537px 134px #fff, 1381px 916px #fff, 350px 378px #fff,
    835px 1935px #fff, 47px 1773px #fff, 1916px 901px #fff, 1742px 1249px #fff,
    1770px 1136px #fff, 535px 391px #fff, 1109px 484px #fff, 1355px 214px #fff,
    494px 1561px #fff, 1894px 1239px #fff, 444px 502px #fff, 1967px 1630px #fff,
    1389px 51px #fff, 926px 1098px #fff, 415px 1506px #fff, 1466px 1174px #fff,
    200px 1744px #fff, 1425px 486px #fff, 1383px 1397px #fff, 1824px 779px #fff,
    394px 1857px #fff, 297px 166px #fff, 159px 1463px #fff, 1511px 885px #fff,
    193px 404px #fff, 327px 1522px #fff, 743px 1716px #fff, 213px 671px #fff,
    567px 1799px #fff, 913px 398px #fff, 1054px 407px #fff, 997px 551px #fff,
    1962px 1551px #fff, 1042px 1925px #fff, 1081px 1421px #fff, 866px 330px #fff,
    1482px 1673px #fff, 1432px 423px #fff, 1328px 1357px #fff, 270px 480px #fff,
    128px 773px #fff, 1461px 1540px #fff, 1861px 403px #fff, 1854px 609px #fff,
    799px 174px #fff, 1819px 45px #fff, 727px 126px #fff, 4px 1879px #fff,
    469px 806px #fff, 298px 1517px #fff, 1295px 933px #fff, 45px 282px #fff,
    612px 1930px #fff, 28px 1652px #fff, 722px 1082px #fff, 1848px 134px #fff,
    839px 563px #fff, 455px 975px #fff, 1817px 596px #fff, 1948px 159px #fff,
    1823px 958px #fff, 502px 367px #fff, 910px 538px #fff, 1577px 22px #fff,
    1740px 929px #fff, 1732px 449px #fff, 1260px 433px #fff, 472px 805px #fff,
    1728px 1893px #fff, 336px 953px #fff, 1330px 138px #fff, 244px 1974px #fff,
    105px 1062px #fff, 435px 1476px #fff, 107px 500px #fff, 677px 505px #fff,
    529px 1233px #fff, 399px 936px #fff, 594px 561px #fff, 1515px 692px #fff,
    231px 1639px #fff, 42px 1727px #fff, 1458px 1309px #fff, 1158px 368px #fff,
    1835px 414px #fff, 230px 1839px #fff, 36px 546px #fff, 1362px 249px #fff,
    1907px 1150px #fff, 761px 32px #fff, 1944px 1316px #fff, 626px 1170px #fff,
    1326px 406px #fff, 450px 152px #fff, 1523px 1085px #fff, 1778px 1823px #fff,
    221px 1342px #fff, 733px 89px #fff, 470px 1883px #fff, 999px 290px #fff,
    1479px 1933px #fff, 967px 1147px #fff, 1277px 581px #fff, 1235px 766px #fff,
    444px 1669px #fff, 182px 1787px #fff, 1358px 1985px #fff, 116px 307px #fff,
    401px 1336px #fff, 1015px 1280px #fff, 514px 78px #fff, 571px 1799px #fff,
    1522px 1005px #fff, 750px 368px #fff, 645px 259px #fff, 1012px 1732px #fff,
    1111px 1029px #fff, 1694px 1227px #fff, 1220px 135px #fff, 899px 413px #fff,
    508px 314px #fff, 1773px 963px #fff, 1237px 323px #fff, 1451px 1232px #fff,
    279px 648px #fff, 941px 1719px #fff, 533px 1732px #fff, 33px 286px #fff,
    627px 632px #fff, 320px 1245px #fff, 1578px 1814px #fff, 499px 895px #fff,
    892px 647px #fff, 445px 1501px #fff, 864px 678px #fff, 1519px 717px #fff,
    1253px 1166px #fff, 692px 1838px #fff, 1510px 1761px #fff,
    1312px 1535px #fff, 76px 1381px #fff, 1970px 1498px #fff, 1075px 597px #fff,
    1795px 1195px #fff, 51px 659px #fff, 1981px 1958px #fff, 653px 1739px #fff,
    836px 582px #fff, 188px 1818px #fff, 656px 1095px #fff, 376px 1469px #fff,
    62px 1719px #fff, 397px 1635px #fff, 1910px 556px #fff, 710px 1609px #fff,
    1610px 1629px #fff, 1980px 167px #fff, 299px 1600px #fff, 773px 1688px #fff,
    715px 921px #fff, 1176px 1461px #fff, 393px 1671px #fff, 1015px 1542px #fff,
    1549px 1970px #fff, 1882px 1252px #fff, 1770px 1794px #fff,
    825px 1019px #fff, 1050px 1267px #fff, 1372px 1252px #fff, 1692px 22px #fff,
    997px 1131px #fff, 916px 389px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1367px 1384px #fff, 174px 1252px #fff, 1462px 516px #fff,
    381px 160px #fff, 1785px 1307px #fff, 485px 1938px #fff, 322px 45px #fff,
    420px 1282px #fff, 713px 244px #fff, 1333px 1047px #fff, 128px 842px #fff,
    779px 1834px #fff, 1849px 1784px #fff, 1191px 547px #fff, 1119px 1975px #fff,
    1996px 688px #fff, 674px 696px #fff, 1992px 1219px #fff, 249px 493px #fff,
    766px 1799px #fff, 124px 674px #fff, 1714px 143px #fff, 380px 1516px #fff,
    595px 713px #fff, 1669px 1764px #fff, 192px 1028px #fff, 1039px 191px #fff,
    1737px 1800px #fff, 1465px 240px #fff, 1243px 758px #fff, 1713px 392px #fff,
    608px 1558px #fff, 1227px 1347px #fff, 667px 159px #fff, 603px 1092px #fff,
    1193px 1369px #fff, 1147px 1650px #fff, 190px 441px #fff, 1754px 1683px #fff,
    1754px 1538px #fff, 1951px 1615px #fff, 1353px 1708px #fff, 421px 276px #fff,
    642px 161px #fff, 1544px 1204px #fff, 878px 380px #fff, 821px 490px #fff,
    289px 1824px #fff, 1639px 503px #fff, 319px 1141px #fff, 689px 460px #fff,
    286px 217px #fff, 261px 1726px #fff, 152px 683px #fff, 1011px 99px #fff,
    1370px 135px #fff, 1295px 587px #fff, 1482px 196px #fff, 1447px 21px #fff,
    1951px 447px #fff, 589px 1683px #fff, 1649px 409px #fff, 839px 805px #fff,
    1572px 125px #fff, 1464px 1900px #fff, 1700px 312px #fff, 1547px 605px #fff,
    1185px 1435px #fff, 300px 1929px #fff, 1835px 223px #fff, 427px 613px #fff,
    273px 1866px #fff, 257px 127px #fff, 1535px 1178px #fff, 190px 454px #fff,
    1390px 550px #fff, 1270px 1884px #fff, 1211px 1248px #fff, 839px 1583px #fff,
    556px 957px #fff, 145px 1079px #fff, 1194px 650px #fff, 1418px 529px #fff,
    1991px 1185px #fff, 1988px 1552px #fff, 63px 1301px #fff, 1617px 1063px #fff,
    92px 1256px #fff, 1814px 326px #fff, 1680px 669px #fff, 1831px 1798px #fff,
    862px 320px #fff, 1053px 1525px #fff, 13px 925px #fff, 365px 1955px #fff,
    1492px 1779px #fff, 282px 1068px #fff, 772px 1804px #fff, 1575px 1536px #fff,
    1905px 1018px #fff, 877px 948px #fff, 1257px 245px #fff, 800px 719px #fff,
    1649px 1535px #fff, 1245px 1395px #fff, 1447px 95px #fff, 811px 83px #fff,
    1078px 771px #fff, 118px 1408px #fff, 739px 1676px #fff, 918px 1893px #fff,
    646px 1492px #fff, 1940px 1210px #fff, 113px 786px #fff, 930px 184px #fff,
    1109px 326px #fff, 333px 1381px #fff, 1533px 871px #fff, 950px 697px #fff,
    1568px 481px #fff, 211px 741px #fff, 1842px 1435px #fff, 1502px 392px #fff,
    386px 876px #fff, 1376px 129px #fff, 1950px 1972px #fff, 435px 517px #fff,
    795px 297px #fff, 1269px 1167px #fff, 1901px 944px #fff, 21px 462px #fff,
    1746px 989px #fff, 262px 1093px #fff, 6px 1553px #fff, 1348px 145px #fff,
    1644px 1741px #fff, 231px 341px #fff, 1803px 1912px #fff, 58px 580px #fff,
    170px 872px #fff, 1730px 489px #fff, 1269px 723px #fff, 825px 821px #fff,
    733px 1168px #fff, 1193px 1333px #fff, 1570px 109px #fff, 771px 734px #fff,
    777px 1656px #fff, 1820px 763px #fff, 1136px 257px #fff, 754px 418px #fff,
    1251px 394px #fff, 226px 1420px #fff, 18px 704px #fff, 800px 392px #fff,
    1125px 1725px #fff, 1902px 1587px #fff, 1650px 782px #fff, 1490px 219px #fff,
    535px 1896px #fff, 1866px 639px #fff, 1237px 611px #fff, 555px 1044px #fff,
    1820px 733px #fff, 710px 1508px #fff, 1393px 1049px #fff, 298px 1733px #fff,
    1048px 1122px #fff, 264px 689px #fff, 1235px 1109px #fff, 1671px 1487px #fff,
    1962px 1364px #fff, 1195px 1342px #fff, 461px 1486px #fff, 130px 1221px #fff,
    168px 925px #fff, 1117px 1492px #fff, 1320px 1513px #fff, 1543px 1635px #fff,
    757px 1711px #fff, 286px 139px #fff, 839px 972px #fff, 1583px 1609px #fff,
    1002px 287px #fff, 1059px 1303px #fff, 729px 1110px #fff, 1375px 316px #fff,
    605px 1706px #fff, 377px 1590px #fff, 1086px 13px #fff, 1811px 1706px #fff,
    1152px 197px #fff, 1748px 1339px #fff, 1431px 1669px #fff,
    1923px 1575px #fff, 814px 1416px #fff, 623px 1313px #fff, 675px 901px #fff,
    1360px 717px #fff, 748px 1497px #fff, 125px 555px #fff, 1528px 657px #fff,
    1217px 636px #fff, 790px 432px #fff, 728px 595px #fff, 955px 548px #fff,
    120px 623px #fff, 1923px 1033px #fff, 218px 1079px #fff, 1828px 703px #fff,
    1037px 1901px #fff, 1203px 342px #fff, 846px 1376px #fff, 927px 1082px #fff,
    95px 222px #fff, 1328px 865px #fff, 1125px 156px #fff, 1431px 739px #fff,
    51px 1256px #fff, 621px 415px #fff, 1086px 160px #fff, 1931px 892px #fff,
    476px 576px #fff, 187px 110px #fff, 897px 1822px #fff, 344px 736px #fff,
    516px 1478px #fff, 1613px 1798px #fff, 1393px 1674px #fff, 160px 11px #fff,
    1996px 469px #fff, 1033px 905px #fff, 926px 1067px #fff, 569px 1167px #fff,
    1102px 274px #fff, 1873px 1105px #fff, 1815px 93px #fff, 1804px 1299px #fff,
    1711px 867px #fff, 341px 1895px #fff, 1200px 1189px #fff, 1710px 440px #fff,
    121px 1308px #fff, 989px 1329px #fff, 823px 1829px #fff, 546px 1325px #fff,
    628px 366px #fff, 42px 710px #fff, 63px 1894px #fff, 832px 1809px #fff,
    522px 1194px #fff, 782px 515px #fff, 321px 935px #fff, 1908px 199px #fff,
    531px 473px #fff, 922px 1358px #fff, 1653px 228px #fff, 1282px 1204px #fff,
    85px 129px #fff, 1878px 1824px #fff, 33px 1151px #fff, 1371px 1233px #fff,
    311px 1800px #fff, 1572px 224px #fff, 1156px 885px #fff, 350px 950px #fff,
    1130px 1962px #fff, 266px 1766px #fff, 774px 1556px #fff, 1565px 1852px #fff,
    1547px 1246px #fff, 792px 564px #fff, 1962px 646px #fff, 1833px 397px #fff,
    290px 498px #fff, 272px 1231px #fff, 1136px 1547px #fff, 660px 1497px #fff,
    607px 1713px #fff, 1602px 22px #fff, 1396px 1762px #fff, 896px 789px #fff,
    1466px 661px #fff, 1056px 1752px #fff, 1292px 358px #fff, 361px 1389px #fff,
    418px 1752px #fff, 607px 100px #fff, 269px 1427px #fff, 1083px 1777px #fff,
    1458px 1009px #fff, 1581px 1353px #fff, 999px 734px #fff, 27px 1319px #fff,
    475px 492px #fff, 21px 583px #fff, 976px 1574px #fff, 239px 1796px #fff,
    935px 37px #fff, 651px 892px #fff, 1282px 1558px #fff, 1167px 861px #fff,
    760px 961px #fff, 200px 1024px #fff, 787px 592px #fff, 304px 940px #fff,
    125px 1284px #fff, 188px 1867px #fff, 1121px 1810px #fff, 675px 410px #fff,
    1314px 1177px #fff, 1191px 826px #fff, 1239px 1711px #fff, 448px 906px #fff,
    1991px 716px #fff, 724px 793px #fff, 809px 43px #fff, 1910px 1026px #fff,
    1137px 1928px #fff, 1469px 584px #fff, 697px 954px #fff, 756px 1758px #fff,
    1150px 293px #fff, 1531px 491px #fff, 1033px 1388px #fff, 1181px 1926px #fff,
    437px 296px #fff, 897px 1906px #fff, 1003px 350px #fff, 1439px 338px #fff,
    160px 1475px #fff, 1314px 560px #fff, 356px 1935px #fff, 423px 1190px #fff,
    1162px 1822px #fff, 1901px 1583px #fff, 1190px 254px #fff, 617px 1679px #fff,
    1159px 1944px #fff, 1273px 896px #fff, 584px 574px #fff, 1419px 1207px #fff,
    1364px 152px #fff, 1896px 1223px #fff, 969px 467px #fff, 1554px 1920px #fff,
    204px 1361px #fff, 996px 1662px #fff, 1998px 1406px #fff, 638px 737px #fff,
    182px 437px #fff, 722px 1969px #fff, 414px 1918px #fff, 1397px 1968px #fff,
    1092px 989px #fff, 1274px 1484px #fff, 504px 1716px #fff, 494px 1247px #fff,
    1235px 748px #fff, 151px 388px #fff, 1496px 138px #fff, 1545px 1554px #fff,
    1217px 389px #fff, 1946px 1589px #fff, 1746px 657px #fff, 700px 1065px #fff,
    986px 1263px #fff, 918px 901px #fff, 1080px 1214px #fff, 1907px 7px #fff,
    1814px 747px #fff, 146px 1221px #fff, 991px 1500px #fff, 412px 250px #fff,
    591px 1912px #fff, 714px 1207px #fff, 1334px 419px #fff, 40px 151px #fff,
    484px 1459px #fff, 1311px 1191px #fff, 211px 1478px #fff, 904px 696px #fff,
    392px 282px #fff, 1576px 1817px #fff, 387px 193px #fff, 1860px 1099px #fff,
    1716px 1129px #fff, 184px 1249px #fff, 81px 1794px #fff, 1397px 545px #fff,
    51px 1076px #fff, 1752px 1973px #fff, 1483px 675px #fff, 74px 1269px #fff,
    1415px 1784px #fff, 1520px 1074px #fff, 1875px 248px #fff, 1377px 330px #fff,
    910px 1228px #fff, 471px 566px #fff, 754px 1694px #fff, 1034px 1737px #fff,
    434px 1324px #fff, 1936px 575px #fff, 936px 1889px #fff, 1554px 263px #fff,
    980px 855px #fff, 1940px 1748px #fff, 444px 175px #fff, 1607px 1416px #fff,
    1860px 1687px #fff, 1809px 744px #fff, 1506px 111px #fff, 682px 930px #fff,
    1741px 1337px #fff, 635px 1464px #fff, 1223px 1410px #fff, 633px 1440px #fff,
    161px 757px #fff, 63px 1498px #fff, 810px 460px #fff, 1073px 1160px #fff,
    910px 99px #fff, 934px 1956px #fff, 605px 1841px #fff, 1457px 395px #fff,
    652px 1654px #fff, 1443px 1374px #fff, 1730px 1590px #fff, 609px 76px #fff,
    1743px 1408px #fff, 1935px 1509px #fff, 761px 431px #fff, 1568px 39px #fff,
    677px 1449px #fff, 840px 1701px #fff, 1932px 293px #fff, 1763px 1664px #fff,
    838px 773px #fff, 1830px 717px #fff, 1322px 1242px #fff, 201px 1182px #fff,
    1079px 1628px #fff, 1922px 907px #fff, 544px 995px #fff, 452px 796px #fff,
    487px 862px #fff, 81px 67px #fff, 832px 654px #fff, 968px 165px #fff,
    766px 1324px #fff, 839px 205px #fff, 1668px 446px #fff, 620px 411px #fff,
    1850px 327px #fff, 94px 1660px #fff, 307px 1991px #fff, 1435px 117px #fff,
    551px 1170px #fff, 756px 934px #fff, 658px 664px #fff, 1658px 580px #fff,
    933px 596px #fff, 2000px 1102px #fff, 616px 533px #fff, 445px 297px #fff,
    859px 874px #fff, 308px 601px #fff, 52px 675px #fff, 7px 1279px #fff,
    1653px 1141px #fff, 879px 1335px #fff, 458px 1304px #fff, 909px 109px #fff,
    1328px 1902px #fff, 923px 179px #fff, 1459px 84px #fff, 1125px 844px #fff,
    1835px 275px #fff, 1846px 1801px #fff, 1807px 598px #fff, 13px 1424px #fff,
    383px 404px #fff, 596px 1204px #fff, 1078px 328px #fff, 1286px 1285px #fff,
    1405px 941px #fff, 1430px 670px #fff, 1602px 74px #fff, 1733px 407px #fff,
    1390px 1797px #fff, 672px 437px #fff, 418px 167px #fff, 462px 1705px #fff,
    772px 855px #fff, 770px 574px #fff, 1541px 537px #fff, 273px 767px #fff,
    1744px 1431px #fff, 372px 2000px #fff, 1397px 169px #fff, 1542px 185px #fff,
    663px 956px #fff, 1909px 285px #fff, 184px 1963px #fff, 1489px 846px #fff,
    1464px 1716px #fff, 1217px 279px #fff, 1272px 1759px #fff, 817px 915px #fff,
    1899px 227px #fff, 1941px 1084px #fff, 1077px 1239px #fff,
    1102px 1979px #fff, 422px 1373px #fff, 520px 1671px #fff, 398px 698px #fff,
    1626px 1746px #fff, 223px 184px #fff, 774px 150px #fff, 944px 649px #fff,
    1666px 1332px #fff, 1842px 1855px #fff, 374px 1254px #fff,
    1870px 1244px #fff, 537px 134px #fff, 1381px 916px #fff, 350px 378px #fff,
    835px 1935px #fff, 47px 1773px #fff, 1916px 901px #fff, 1742px 1249px #fff,
    1770px 1136px #fff, 535px 391px #fff, 1109px 484px #fff, 1355px 214px #fff,
    494px 1561px #fff, 1894px 1239px #fff, 444px 502px #fff, 1967px 1630px #fff,
    1389px 51px #fff, 926px 1098px #fff, 415px 1506px #fff, 1466px 1174px #fff,
    200px 1744px #fff, 1425px 486px #fff, 1383px 1397px #fff, 1824px 779px #fff,
    394px 1857px #fff, 297px 166px #fff, 159px 1463px #fff, 1511px 885px #fff,
    193px 404px #fff, 327px 1522px #fff, 743px 1716px #fff, 213px 671px #fff,
    567px 1799px #fff, 913px 398px #fff, 1054px 407px #fff, 997px 551px #fff,
    1962px 1551px #fff, 1042px 1925px #fff, 1081px 1421px #fff, 866px 330px #fff,
    1482px 1673px #fff, 1432px 423px #fff, 1328px 1357px #fff, 270px 480px #fff,
    128px 773px #fff, 1461px 1540px #fff, 1861px 403px #fff, 1854px 609px #fff,
    799px 174px #fff, 1819px 45px #fff, 727px 126px #fff, 4px 1879px #fff,
    469px 806px #fff, 298px 1517px #fff, 1295px 933px #fff, 45px 282px #fff,
    612px 1930px #fff, 28px 1652px #fff, 722px 1082px #fff, 1848px 134px #fff,
    839px 563px #fff, 455px 975px #fff, 1817px 596px #fff, 1948px 159px #fff,
    1823px 958px #fff, 502px 367px #fff, 910px 538px #fff, 1577px 22px #fff,
    1740px 929px #fff, 1732px 449px #fff, 1260px 433px #fff, 472px 805px #fff,
    1728px 1893px #fff, 336px 953px #fff, 1330px 138px #fff, 244px 1974px #fff,
    105px 1062px #fff, 435px 1476px #fff, 107px 500px #fff, 677px 505px #fff,
    529px 1233px #fff, 399px 936px #fff, 594px 561px #fff, 1515px 692px #fff,
    231px 1639px #fff, 42px 1727px #fff, 1458px 1309px #fff, 1158px 368px #fff,
    1835px 414px #fff, 230px 1839px #fff, 36px 546px #fff, 1362px 249px #fff,
    1907px 1150px #fff, 761px 32px #fff, 1944px 1316px #fff, 626px 1170px #fff,
    1326px 406px #fff, 450px 152px #fff, 1523px 1085px #fff, 1778px 1823px #fff,
    221px 1342px #fff, 733px 89px #fff, 470px 1883px #fff, 999px 290px #fff,
    1479px 1933px #fff, 967px 1147px #fff, 1277px 581px #fff, 1235px 766px #fff,
    444px 1669px #fff, 182px 1787px #fff, 1358px 1985px #fff, 116px 307px #fff,
    401px 1336px #fff, 1015px 1280px #fff, 514px 78px #fff, 571px 1799px #fff,
    1522px 1005px #fff, 750px 368px #fff, 645px 259px #fff, 1012px 1732px #fff,
    1111px 1029px #fff, 1694px 1227px #fff, 1220px 135px #fff, 899px 413px #fff,
    508px 314px #fff, 1773px 963px #fff, 1237px 323px #fff, 1451px 1232px #fff,
    279px 648px #fff, 941px 1719px #fff, 533px 1732px #fff, 33px 286px #fff,
    627px 632px #fff, 320px 1245px #fff, 1578px 1814px #fff, 499px 895px #fff,
    892px 647px #fff, 445px 1501px #fff, 864px 678px #fff, 1519px 717px #fff,
    1253px 1166px #fff, 692px 1838px #fff, 1510px 1761px #fff,
    1312px 1535px #fff, 76px 1381px #fff, 1970px 1498px #fff, 1075px 597px #fff,
    1795px 1195px #fff, 51px 659px #fff, 1981px 1958px #fff, 653px 1739px #fff,
    836px 582px #fff, 188px 1818px #fff, 656px 1095px #fff, 376px 1469px #fff,
    62px 1719px #fff, 397px 1635px #fff, 1910px 556px #fff, 710px 1609px #fff,
    1610px 1629px #fff, 1980px 167px #fff, 299px 1600px #fff, 773px 1688px #fff,
    715px 921px #fff, 1176px 1461px #fff, 393px 1671px #fff, 1015px 1542px #fff,
    1549px 1970px #fff, 1882px 1252px #fff, 1770px 1794px #fff,
    825px 1019px #fff, 1050px 1267px #fff, 1372px 1252px #fff, 1692px 22px #fff,
    997px 1131px #fff, 916px 389px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 64px 1764px #fff, 1087px 1196px #fff, 254px 166px #fff,
    1564px 126px #fff, 528px 1012px #fff, 440px 1258px #fff, 1325px 856px #fff,
    882px 547px #fff, 463px 657px #fff, 983px 169px #fff, 885px 1099px #fff,
    1595px 1124px #fff, 266px 495px #fff, 16px 483px #fff, 255px 1016px #fff,
    1310px 1775px #fff, 787px 67px #fff, 1019px 1381px #fff, 1744px 764px #fff,
    700px 1329px #fff, 1034px 1058px #fff, 1164px 68px #fff, 826px 705px #fff,
    1135px 486px #fff, 1335px 414px #fff, 470px 137px #fff, 1443px 1799px #fff,
    1672px 225px #fff, 1242px 481px #fff, 1687px 541px #fff, 1595px 1982px #fff,
    1741px 1150px #fff, 1848px 522px #fff, 442px 94px #fff, 1042px 537px #fff,
    1086px 1778px #fff, 1976px 1012px #fff, 689px 503px #fff, 786px 1955px #fff,
    7px 1024px #fff, 1215px 1937px #fff, 491px 1765px #fff, 196px 25px #fff,
    832px 287px #fff, 1209px 420px #fff, 225px 1593px #fff, 1236px 361px #fff,
    1892px 772px #fff, 1941px 778px #fff, 1261px 462px #fff, 1089px 1107px #fff,
    1824px 1433px #fff, 537px 1949px #fff, 539px 1294px #fff, 131px 519px #fff,
    1470px 110px #fff, 1333px 1797px #fff, 1483px 257px #fff, 382px 661px #fff,
    470px 1022px #fff, 284px 1023px #fff, 1114px 129px #fff, 1663px 1252px #fff,
    793px 4px #fff, 574px 352px #fff, 963px 1544px #fff, 695px 790px #fff,
    1210px 1733px #fff, 1238px 795px #fff, 122px 481px #fff, 838px 1524px #fff,
    1783px 972px #fff, 1280px 1859px #fff, 1579px 659px #fff, 212px 904px #fff,
    1218px 514px #fff, 204px 660px #fff, 1059px 227px #fff, 427px 611px #fff,
    914px 501px #fff, 1321px 1190px #fff, 1551px 292px #fff, 240px 1704px #fff,
    842px 1931px #fff, 897px 298px #fff, 414px 1312px #fff, 50px 337px #fff,
    1443px 644px #fff, 1205px 699px #fff, 856px 141px #fff, 237px 1637px #fff,
    1767px 1237px #fff, 147px 926px #fff, 1160px 644px #fff, 1234px 347px #fff,
    1321px 838px #fff, 570px 200px #fff, 435px 911px #fff, 1770px 813px #fff,
    1350px 1097px #fff, 362px 1155px #fff, 1615px 957px #fff, 1894px 1450px #fff,
    1043px 515px #fff, 1679px 192px #fff, 1732px 1316px #fff, 1523px 1199px #fff,
    164px 728px #fff, 1265px 1750px #fff, 684px 689px #fff, 960px 59px #fff,
    1907px 1918px #fff, 377px 649px #fff, 936px 1038px #fff, 1713px 883px #fff,
    1152px 1205px #fff, 1982px 1128px #fff, 809px 1749px #fff, 152px 1986px #fff,
    1413px 77px #fff, 195px 923px #fff, 1288px 995px #fff, 1088px 1770px #fff,
    153px 402px #fff, 1411px 157px #fff, 1360px 1510px #fff, 1490px 479px #fff,
    920px 1096px #fff, 823px 458px #fff, 694px 1187px #fff, 289px 487px #fff,
    806px 28px #fff, 1177px 593px #fff, 1938px 614px #fff, 64px 1404px #fff,
    393px 546px #fff, 534px 1720px #fff, 1984px 606px #fff, 1295px 1345px #fff,
    1376px 381px #fff, 52px 11px #fff, 385px 776px #fff, 1383px 1668px #fff,
    1448px 643px #fff, 1886px 733px #fff, 1606px 1340px #fff, 1306px 1985px #fff,
    961px 1618px #fff, 1610px 1132px #fff, 912px 482px #fff, 158px 287px #fff,
    117px 550px #fff, 1965px 1288px #fff, 1713px 1162px #fff, 622px 26px #fff,
    1069px 1968px #fff, 1898px 1212px #fff, 279px 1206px #fff, 1591px 648px #fff,
    1108px 1948px #fff, 791px 500px #fff, 756px 1648px #fff, 1832px 246px #fff,
    912px 1134px #fff, 1386px 1782px #fff, 496px 77px #fff, 240px 1881px #fff,
    1754px 603px #fff, 1285px 1612px #fff, 21px 652px #fff, 865px 1025px #fff,
    1286px 1300px #fff, 1770px 337px #fff, 860px 1754px #fff, 1953px 1748px #fff,
    53px 462px #fff, 701px 1019px #fff, 759px 1235px #fff, 1022px 1884px #fff,
    727px 1560px #fff, 261px 1106px #fff, 754px 135px #fff, 1906px 1632px #fff,
    1426px 1086px #fff, 104px 1959px #fff, 1933px 135px #fff, 110px 561px #fff,
    928px 863px #fff, 607px 1420px #fff, 1972px 1466px #fff, 1193px 1404px #fff,
    631px 847px #fff, 453px 1212px #fff, 646px 1891px #fff, 914px 401px #fff,
    612px 832px #fff, 597px 1997px #fff, 1482px 1886px #fff, 397px 424px #fff,
    442px 1012px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 64px 1764px #fff, 1087px 1196px #fff, 254px 166px #fff,
    1564px 126px #fff, 528px 1012px #fff, 440px 1258px #fff, 1325px 856px #fff,
    882px 547px #fff, 463px 657px #fff, 983px 169px #fff, 885px 1099px #fff,
    1595px 1124px #fff, 266px 495px #fff, 16px 483px #fff, 255px 1016px #fff,
    1310px 1775px #fff, 787px 67px #fff, 1019px 1381px #fff, 1744px 764px #fff,
    700px 1329px #fff, 1034px 1058px #fff, 1164px 68px #fff, 826px 705px #fff,
    1135px 486px #fff, 1335px 414px #fff, 470px 137px #fff, 1443px 1799px #fff,
    1672px 225px #fff, 1242px 481px #fff, 1687px 541px #fff, 1595px 1982px #fff,
    1741px 1150px #fff, 1848px 522px #fff, 442px 94px #fff, 1042px 537px #fff,
    1086px 1778px #fff, 1976px 1012px #fff, 689px 503px #fff, 786px 1955px #fff,
    7px 1024px #fff, 1215px 1937px #fff, 491px 1765px #fff, 196px 25px #fff,
    832px 287px #fff, 1209px 420px #fff, 225px 1593px #fff, 1236px 361px #fff,
    1892px 772px #fff, 1941px 778px #fff, 1261px 462px #fff, 1089px 1107px #fff,
    1824px 1433px #fff, 537px 1949px #fff, 539px 1294px #fff, 131px 519px #fff,
    1470px 110px #fff, 1333px 1797px #fff, 1483px 257px #fff, 382px 661px #fff,
    470px 1022px #fff, 284px 1023px #fff, 1114px 129px #fff, 1663px 1252px #fff,
    793px 4px #fff, 574px 352px #fff, 963px 1544px #fff, 695px 790px #fff,
    1210px 1733px #fff, 1238px 795px #fff, 122px 481px #fff, 838px 1524px #fff,
    1783px 972px #fff, 1280px 1859px #fff, 1579px 659px #fff, 212px 904px #fff,
    1218px 514px #fff, 204px 660px #fff, 1059px 227px #fff, 427px 611px #fff,
    914px 501px #fff, 1321px 1190px #fff, 1551px 292px #fff, 240px 1704px #fff,
    842px 1931px #fff, 897px 298px #fff, 414px 1312px #fff, 50px 337px #fff,
    1443px 644px #fff, 1205px 699px #fff, 856px 141px #fff, 237px 1637px #fff,
    1767px 1237px #fff, 147px 926px #fff, 1160px 644px #fff, 1234px 347px #fff,
    1321px 838px #fff, 570px 200px #fff, 435px 911px #fff, 1770px 813px #fff,
    1350px 1097px #fff, 362px 1155px #fff, 1615px 957px #fff, 1894px 1450px #fff,
    1043px 515px #fff, 1679px 192px #fff, 1732px 1316px #fff, 1523px 1199px #fff,
    164px 728px #fff, 1265px 1750px #fff, 684px 689px #fff, 960px 59px #fff,
    1907px 1918px #fff, 377px 649px #fff, 936px 1038px #fff, 1713px 883px #fff,
    1152px 1205px #fff, 1982px 1128px #fff, 809px 1749px #fff, 152px 1986px #fff,
    1413px 77px #fff, 195px 923px #fff, 1288px 995px #fff, 1088px 1770px #fff,
    153px 402px #fff, 1411px 157px #fff, 1360px 1510px #fff, 1490px 479px #fff,
    920px 1096px #fff, 823px 458px #fff, 694px 1187px #fff, 289px 487px #fff,
    806px 28px #fff, 1177px 593px #fff, 1938px 614px #fff, 64px 1404px #fff,
    393px 546px #fff, 534px 1720px #fff, 1984px 606px #fff, 1295px 1345px #fff,
    1376px 381px #fff, 52px 11px #fff, 385px 776px #fff, 1383px 1668px #fff,
    1448px 643px #fff, 1886px 733px #fff, 1606px 1340px #fff, 1306px 1985px #fff,
    961px 1618px #fff, 1610px 1132px #fff, 912px 482px #fff, 158px 287px #fff,
    117px 550px #fff, 1965px 1288px #fff, 1713px 1162px #fff, 622px 26px #fff,
    1069px 1968px #fff, 1898px 1212px #fff, 279px 1206px #fff, 1591px 648px #fff,
    1108px 1948px #fff, 791px 500px #fff, 756px 1648px #fff, 1832px 246px #fff,
    912px 1134px #fff, 1386px 1782px #fff, 496px 77px #fff, 240px 1881px #fff,
    1754px 603px #fff, 1285px 1612px #fff, 21px 652px #fff, 865px 1025px #fff,
    1286px 1300px #fff, 1770px 337px #fff, 860px 1754px #fff, 1953px 1748px #fff,
    53px 462px #fff, 701px 1019px #fff, 759px 1235px #fff, 1022px 1884px #fff,
    727px 1560px #fff, 261px 1106px #fff, 754px 135px #fff, 1906px 1632px #fff,
    1426px 1086px #fff, 104px 1959px #fff, 1933px 135px #fff, 110px 561px #fff,
    928px 863px #fff, 607px 1420px #fff, 1972px 1466px #fff, 1193px 1404px #fff,
    631px 847px #fff, 453px 1212px #fff, 646px 1891px #fff, 914px 401px #fff,
    612px 832px #fff, 597px 1997px #fff, 1482px 1886px #fff, 397px 424px #fff,
    442px 1012px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1649px 770px #fff, 360px 1941px #fff, 280px 1205px #fff,
    1452px 1718px #fff, 1263px 1713px #fff, 109px 1994px #fff, 797px 883px #fff,
    1779px 1300px #fff, 844px 1566px #fff, 386px 1260px #fff, 45px 1674px #fff,
    1207px 801px #fff, 1374px 966px #fff, 1435px 700px #fff, 849px 1451px #fff,
    1230px 682px #fff, 1347px 786px #fff, 1810px 1276px #fff, 703px 35px #fff,
    763px 1924px #fff, 1999px 150px #fff, 1051px 1238px #fff, 215px 1783px #fff,
    25px 1142px #fff, 176px 1096px #fff, 1974px 279px #fff, 1309px 583px #fff,
    1955px 100px #fff, 132px 789px #fff, 593px 1295px #fff, 1102px 586px #fff,
    1144px 1336px #fff, 928px 1243px #fff, 59px 330px #fff, 444px 763px #fff,
    379px 730px #fff, 53px 1905px #fff, 1483px 1575px #fff, 1015px 1033px #fff,
    1895px 1216px #fff, 705px 1583px #fff, 1597px 806px #fff, 1884px 1519px #fff,
    431px 1992px #fff, 303px 1870px #fff, 390px 620px #fff, 1368px 1378px #fff,
    806px 151px #fff, 552px 977px #fff, 1572px 731px #fff, 1395px 1783px #fff,
    679px 309px #fff, 1058px 419px #fff, 463px 905px #fff, 1843px 1914px #fff,
    1175px 1269px #fff, 1677px 821px #fff, 973px 299px #fff, 587px 134px #fff,
    683px 1504px #fff, 810px 1109px #fff, 1230px 975px #fff, 747px 312px #fff,
    1455px 1040px #fff, 823px 598px #fff, 258px 1084px #fff, 1171px 936px #fff,
    1428px 106px #fff, 181px 1280px #fff, 1879px 1741px #fff, 788px 520px #fff,
    814px 1317px #fff, 2000px 1225px #fff, 230px 1701px #fff, 1690px 502px #fff,
    1240px 1179px #fff, 1564px 152px #fff, 1577px 1123px #fff, 1632px 944px #fff,
    1726px 820px #fff, 579px 782px #fff, 1034px 1549px #fff, 166px 1282px #fff,
    942px 1557px #fff, 750px 1206px #fff, 83px 1267px #fff, 1498px 1075px #fff,
    1601px 1219px #fff, 994px 660px #fff, 317px 823px #fff, 838px 1846px #fff,
    1520px 338px #fff, 995px 867px #fff, 514px 156px #fff, 954px 134px #fff,
    516px 599px #fff, 1019px 1440px #fff, 13px 719px #fff, 301px 460px #fff,
    1679px 1506px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1649px 770px #fff, 360px 1941px #fff, 280px 1205px #fff,
    1452px 1718px #fff, 1263px 1713px #fff, 109px 1994px #fff, 797px 883px #fff,
    1779px 1300px #fff, 844px 1566px #fff, 386px 1260px #fff, 45px 1674px #fff,
    1207px 801px #fff, 1374px 966px #fff, 1435px 700px #fff, 849px 1451px #fff,
    1230px 682px #fff, 1347px 786px #fff, 1810px 1276px #fff, 703px 35px #fff,
    763px 1924px #fff, 1999px 150px #fff, 1051px 1238px #fff, 215px 1783px #fff,
    25px 1142px #fff, 176px 1096px #fff, 1974px 279px #fff, 1309px 583px #fff,
    1955px 100px #fff, 132px 789px #fff, 593px 1295px #fff, 1102px 586px #fff,
    1144px 1336px #fff, 928px 1243px #fff, 59px 330px #fff, 444px 763px #fff,
    379px 730px #fff, 53px 1905px #fff, 1483px 1575px #fff, 1015px 1033px #fff,
    1895px 1216px #fff, 705px 1583px #fff, 1597px 806px #fff, 1884px 1519px #fff,
    431px 1992px #fff, 303px 1870px #fff, 390px 620px #fff, 1368px 1378px #fff,
    806px 151px #fff, 552px 977px #fff, 1572px 731px #fff, 1395px 1783px #fff,
    679px 309px #fff, 1058px 419px #fff, 463px 905px #fff, 1843px 1914px #fff,
    1175px 1269px #fff, 1677px 821px #fff, 973px 299px #fff, 587px 134px #fff,
    683px 1504px #fff, 810px 1109px #fff, 1230px 975px #fff, 747px 312px #fff,
    1455px 1040px #fff, 823px 598px #fff, 258px 1084px #fff, 1171px 936px #fff,
    1428px 106px #fff, 181px 1280px #fff, 1879px 1741px #fff, 788px 520px #fff,
    814px 1317px #fff, 2000px 1225px #fff, 230px 1701px #fff, 1690px 502px #fff,
    1240px 1179px #fff, 1564px 152px #fff, 1577px 1123px #fff, 1632px 944px #fff,
    1726px 820px #fff, 579px 782px #fff, 1034px 1549px #fff, 166px 1282px #fff,
    942px 1557px #fff, 750px 1206px #fff, 83px 1267px #fff, 1498px 1075px #fff,
    1601px 1219px #fff, 994px 660px #fff, 317px 823px #fff, 838px 1846px #fff,
    1520px 338px #fff, 995px 867px #fff, 514px 156px #fff, 954px 134px #fff,
    516px 599px #fff, 1019px 1440px #fff, 13px 719px #fff, 301px 460px #fff,
    1679px 1506px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
